body, html {
    height: 100%;
    margin: 0;
  }
  .login-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .background-image {
    background-image: url('https://www.dartdigital.com.br/imagens/slider/aplicativos-moveis.webp');
    background-size: cover;
    background-position: center;
    width: 75%;
  }
  .logo-image {
    max-width: 100%;
    text-align:center;
  }

  .login-form {
    background-color: #f8f9fa;
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
  }
.form-error{
    font-size: small;
}
