<!-- //TODO ajustar tela para ficar igual documento com epaçamentos e cores do form -->
<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="form-container">
    <mat-card>
        <mat-card-content>
            <div class="content-container">
                <div class="image-container">
                    <img src="https://www.dartdigital.com.br/imagens/slider/aplicativos-moveis.webp"
                        alt="Imagem de fundo">
                </div>
                <div class="form-content">
                    <div class="logo-container">
                        <img src="https://www.dartdigital.com.br/imagens/logo.webp" alt="Logo">
                    </div>
                    <form [formGroup]="loginForm">
                        <div class="input-container">
                            <mat-form-field>
                                <input matInput placeholder="Usuário" required formControlName="username">
                                <mat-error
                                    *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username') ">Usuário
                                    é Obrigatório</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="input-container">
                            <mat-form-field>
                                <input matInput type="password" required placeholder="Senha" formControlName="password">
                                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Senha é
                                    Obrigatória</mat-error>
                                <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Padrão de Senha
                                    Inválido</mat-error>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary" [disabled]="!loginForm.valid"
                            (click)="doLogin()">CONTINUAR</button>
                    </form>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>